.userquestionscont {
  display: flex;
  flex-direction: column;
}
.formscont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;
  gap: 0.8rem;
  justify-content: center;
  margin: 1rem;
}
.inputbar {
  background-color: #2e3442;
  color: #b1baba;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem;
  font-size: medium;
}
.rangebars{
  display: flex;
  flex-direction: column;
  justify-content: left;

}
.submitB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  color: white;
  padding: 0.8rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  background-color: #d90429;
  cursor: pointer;
}
